<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://tailwindui.com/css/components-v2.css?id=3e4f5c1d054769555716" rel="stylesheet">
  <title>Document</title>
</head>

<body>

  <script type="text/html" id="FormCheckboxInput">
    <div class="relative flex items-start">
      <div class="flex items-center h-5">
        <input 
          :name="name"
          :id="id" 
          type="checkbox" 
          class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
          :checked="value"
          :value="value"
          @input="updateInputValue($event.target.checked)"
        >
      </div>
      <div v-if="label" class="ml-3 text-sm">
        <label :for="id" class="font-medium text-gray-700">{{label}}</label>
      </div>
    </div>
  </script>

  <script type="text/html" id="FormTextInput">
    <div>
      <label 
        v-if="label" 
        for="email" 
        class="block text-sm font-medium text-gray-700"
      >
        {{label}}
      </label>
      <div class="mt-1">
        <input 
          :type="type"
          :name="name"
          :id="id"
          :value="value"
          @input="$emit('input', $event.target.value)"
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" 
        >
      </div>
      <p v-if="error" class="mt-2 text-sm text-gray-500" id="email-description">{{error}}</p>
    </div>
  </script>

  <script type="text/html" id="FormSection">
  <div class="border border-gray-100 p-4 rounded-md">
        <h2 class="text-lg">{{title}}</h2>

        <div class="py-4">
          <form-checkbox-input 
            label="Nu sunt probleme" 
            :id="'no_probleme'+ id" 
            :name="'no_problems_'+ id"
            v-model="no_problems"
          >
          </form-checkbox-input>
          <input type="checkbox" v-model="no_problems" />
        </div>
 

        <div v-if="!no_problems" class="border border-gray-200 p-4 my-4 rounded-md">
          <div v-for="(subSection, subSectionIndex) in sub_sections">
            <div class="py-2">
              <form-checkbox-input :label="subSection.title" :id="id+'_'+subSection.id"  :name="id+'_'+subSection.id" ></form-checkbox-input>
            </div>
          </div>
          
        </div>
    </div>
  </script>

  <div id="app">
    <div class="p-4">
      <form action="test" method="POST">

        <div class="mb-4">
          <form-text-input label="Adresa/Strada" type="text" id="ADDRESS_INPUT" name="ADDRESS" v-model="address"></form-text-input>
        </div>

        <div v-for="(section, sectionIndex) in sections" class="mb-4">
          <form-section :id="section.id" :title="section.title" v-model="section.checked" :sub_sections="section.sub_sections" :no_problems="section.no_problems"></form-section>
        </div>

        <button>Send</button>

      </form>
    </div>
  </div>
</body>


<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>



<script>

  Vue.component('form-text-input', {
    template: '#FormTextInput',
    props: ['value', 'type', 'name', 'id', 'label', 'error', 'placeholder'],
  });

  Vue.component('form-checkbox-input', {
    template: '#FormCheckboxInput',
    props: ['value', 'name', 'id', 'label', 'error'],
    methods: {
      updateInputValue: function(value) {
        this.$emit('input', value)
      }
    }
  });

  Vue.component('form-section', {
    template: '#FormSection',
    props: ['title', 'id', 'no_problems', 'sub_sections'],
  });


  var app = new Vue({
    el: '#app',
    data: {
      address: '',
      sections: [
        {
          id: "FIRST",
          title: "Carosabil, trotuare, iluminat",
          no_problems: false,
          sub_sections: [
            {
              id: 'ONE',
              title: 'Gropi',
              type: 'number',
              checked: false
            },
            {
              id: 'TOW',
              title: 'Indicatoare avariate / lipsă',
              type: 'number',
              checked: false
            }
          ]
        },
        {
          id: "SECOND",
          title: "Parcare",
          no_problems: false,
          sub_sections: [
            {
              id: 'ONE',
              title: 'Mașini abandonate',
              type: 'text',
              checked: false
            },
            {
              id: 'TOW',
              title: 'Parcare neregulamentară',
              type: 'text',
              checked: false
            }
          ]
        },
        {
          id: "THIRD",
          title: "Cladiri, curatenie, spatii de joaca",
          no_problems: false,
          sub_sections: [
            {
              id: 'ONE',
              title: 'Graffiti',
              type: null,
              checked: false
            },
            {
              id: 'TOW',
              title: 'Gunoi abandonat',
              type: null,
              checked: false
            }
          ]
        }
      ]
    },
  })
</script>

</html>