<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://tailwindui.com/css/components-v2.css?id=3e4f5c1d054769555716" rel="stylesheet">
  <title>Document</title>
</head>

<body>

  <script type="text/html" id="FormUploadInput">
    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label v-if="label" :for="id" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
        {{label}}
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <div class="max-w-lg flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
          <div class="space-y-1 text-center">
            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
              <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <div class="flex text-sm text-gray-600">
              <label :for="id" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                <span>Upload</span>
                <input :id="id" :name="name" type="file" class="sr-only" />
              </label>
              <p class="pl-1">or don't upload</p>
            </div>
            <p class="text-xs text-gray-500">
              PNG, JPG, GIF up to 10MB
            </p>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/html" id="FormCheckboxInput">
    <div class="relative flex items-start">
      <div class="flex items-center h-5">
        <input 
          :name="name"
          :id="id" 
          type="checkbox" 
          class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
          :checked="value"
          :value="value"
          @input="updateInputValue($event.target.checked)"
        />
      </div>
      <div v-if="label" class="ml-3 text-sm">
        <label :for="id" class="font-medium text-gray-700">{{label}}</label>
      </div>
    </div>
  </script>

  <script type="text/html" id="FormTextInput">

    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
      <label 
        v-if="label" 
        :for="id" 
        class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
      >
        {{label}}
      </label>
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input 
          :type="type"
          :name="name"
          :id="id"
          :value="value"
          @input="$emit('input', $event.target.value)"
          class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
        />
      </div>
      <p v-if="error" class="mt-2 text-sm text-gray-500" id="email-description">{{error}}</p>
    </div>

  </script>

  <script type="text/html" id="FormSection">
    <div class="border border-gray-100 p-4 rounded-md">
        
        <h2 class="text-lg">{{section.title}}</h2>

        <div class="py-4">
          <form-checkbox-input 
            label="Nu sunt probleme" 
            :id="section.id + '_HAS_NO_PROBLEMS'" 
            :name="section.id + '_HAS_NO_PROBLEMS'" 
            v-model="section.no_problems"
          >
          </form-checkbox-input>
        </div>
 

        <div v-if="!section.no_problems" class="border border-gray-200 my-4 rounded-md">
          <div v-for="(subSection, subSectionIndex) in section.sub_sections">
            <div class="p-4 border-b">   
              <form-checkbox-input 
                v-model="subSection.checked" 
                :label="subSection.title" 
                :id="section.id+'_'+subSection.id"
                :name="section.id+'_'+subSection.id"
              >
              </form-checkbox-input>

              <div v-if="subSection.checked">
              
                <div class="py-8">
                  <form-text-input
                    :label="'Detalii '+subSection.title" 
                    :type="subSection.type" 
                    :id="section.id+'_'+subSection.id+'_details'"  
                    :name="section.id+'_'+subSection.id+'_details'" 
                    v-model="subSection.details">
                  </form-text-input>
                  <br />
                  <form-upload-input
                    :label="'Poze '+subSection.title" 
                    :id="section.id+'_'+subSection.id+'_image'" 
                    :name="section.id+'_'+subSection.id+'_image'">
                  </form-upload-input>
                </div>

                <div v-for="(plate, plateIndex) in subSection.plates">
                  <form-text-input 
                    label="Numar inmatricuclare" 
                    type="text" 
                    :id="section.id+'_'+subSection.id+'_plate'+plateIndex"  
                    :name="section.id+'_'+subSection.id+'_plate'+plateIndex" 
                    v-model="plate.number">
                  </form-text-input>
                  <br />
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
    </div>
  </script>

  <div id="app">
    <div class="p-4 max-w-5xl mx-auto">
      <form action="test" method="POST" @submit="checkForm">
        <div class="mb-4">
          <form-text-input label="Adresa/Strada" type="text" id="ADDRESS_INPUT" name="ADDRESS" v-model="address">
          </form-text-input>
        </div>

        <div v-for="(section, sectionIndex) in sections" class="mb-4">
          <form-section :section="section"></form-section>
        </div>

        <button>Send</button>

      </form>
    </div>
  </div>
</body>


<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>



<script>

  Vue.component('form-text-input', {
    template: '#FormTextInput',
    props: ['value', 'type', 'name', 'id', 'label', 'error', 'placeholder'],
  });

  Vue.component('form-checkbox-input', {
    template: '#FormCheckboxInput',
    props: ['value', 'name', 'id', 'label', 'error'],
    methods: {
      updateInputValue: function (value) {
        this.$emit('input', value)
      }
    }
  });

  Vue.component('form-upload-input', {
    template: '#FormUploadInput',
    props: ['value', 'name', 'id', 'label', 'error'],
  });

  Vue.component('form-section', {
    template: '#FormSection',
    props: ['section'],
    methods: {
      addPlate: function (value) {
        console.log('dadas', this, this.section.sub_sections[value])
        this.section.sub_sections[value].plates.push({
          number: ''
        })
      }
    }
  });


  var app = new Vue({
    el: '#app',
    data: {
      address: '',
      sections: [
        {
          id: "CAROSABIL",
          title: "Carosabil, trotuare, iluminat",
          no_problems: false,
          sub_sections: [
            {
              id: 'GROPI',
              title: 'Gropi',
              type: 'number',
              checked: false,
              details: null
            },
            {
              id: 'INDICATOARE',
              title: 'Indicatoare avariate / lipsă',
              type: 'number',
              checked: false,
              details: null
            }
          ]
        },
        {
          id: "PARCARE",
          title: "Parcare",
          no_problems: false,
          sub_sections: [
            {
              id: 'MASINI_ABANDONATE',
              title: 'Mașini abandonate',
              type: 'text',
              checked: false,
              details: null,
              plates: [{
                number: 'B00XXX'
              }]
            },
            {
              id: 'PARCARE_NEREGULAMENTARA',
              title: 'Parcare neregulamentară',
              type: 'text',
              checked: false,
              details: null
            }
          ]
        },
        {
          id: "CLADIRI",
          title: "Cladiri, curatenie, spatii de joaca",
          no_problems: false,
          sub_sections: [
            {
              id: 'GRAFFITI',
              title: 'Graffiti',
              type: 'text',
              checked: false,
              details: null
            },
            {
              id: 'GUNOI',
              title: 'Gunoi abandonat',
              type: 'text',
              checked: false,
              details: null
            }
          ]
        }
      ]
    },
    methods: {
      checkForm: function (e) {
        // e.preventDefault();
        console.log('E', e, { sections: this.sections })
      }
    }
  })
</script>

</html>